/* == Flex Company Project == */

html {
	font-family: "Anek Latin";
}

a {
	transition: all 300ms linear;
	text-decoration: none;
  opacity: .9;
	font-weight: 500;
	text-shadow: 1px 1px #724343;
	color: black;
}

body {
	background-color: black;
	margin: 0;
	height: 100%;
	width: 100vw;
}

h1,
h2 {
	font-size: 4rem;
}

h3 {
	font-size: 3.5rem;
}

h4 {
	font-size: 3rem;
}

p {
	font-size: 3.2rem;
}

/* -- Nav Bar -- */

nav {
	background-color: gray;
	position: fixed;
	display: flex;
	height: 8%;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	top: 0;
	left: 0;
	z-index: 5;
	border-top: 7px ridge #afaaaa;
	border-bottom: 7px groove #afaaaa;
	bottom: 0;
	flex-direction: row;
}

.logo {
	margin-right: 180px;
	padding-left: 1rem;
	height: 75%;
}

nav ul {
	display: none;
	justify-content: space-around;
	width: 70%;
}

nav a {
  font-size: 1.2rem;
}

nav li {
	list-style: none;
	flex: 1 1 0;
}

li a:hover {
   cursor: pointer;
   opacity: .7;
}

li a:active {
  opacity: none;
  text-shadow: none;
  color: black;
}

.conbutton {
	background-color: #ded9d9;
	margin: 0 2% 1px 0;
	width: 110px;
	border: 4px ridge #99241c;
	border-radius: 7px;
	display: none;
	box-shadow: 2px 2px #b11919;
	max-height: 43px;
	padding: 10px 2px 12px 2px;
  font-weight: 500;
	text-shadow: 1px 1px #c02020;
  text-decoration: none;
	font-size: 1.1rem;
	color: black;
	justify-content: center;
}

.conbutton:hover {
   color: #00000075;
}

.conbutton:active {
	text-shadow: none;
	box-shadow: inset 2px 2px #b11919;
  background-color: #dedad9;
}

.dropbtn {
		background-color: #b4b0b0;
		border: 4px outset #7c4444;
		border-radius: 10px;
		margin-right: 20px;
		height: 90px;
		width: 90px;
	}

	.dropbtn img {
	height: 70%;
	width: 85%;
	padding-top: 4px;
	opacity: 0.7;
}

	.dropdown {
		position: relavtive;
		display: inline-block;
	}

	.dropdown-content {
		display: none;
		position: absolute;
		background-color: #b1aeae;
		min-width: 160px;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		z-index: 1;
		right: 4px;
		text-align: center;
		border: 3px outset #7c4444;
	}

	.dropdown-content a {
		padding: 8px 12px;
		text-decoration: none;
		display: block;
		font-size: 3rem;
	}

	.dropdown-content a:hover {
		background-color: #ddd;
	}

	.dropdown:hover .dropdown-content {
		display: block;
	}

.dropdown:hover .dropbtn {
	background-color: #dcd4d4;
}

.dropdown:active .dropbtn {
	text-shadow: none;
	box-shadow: inset 2px 2px #673939;
  background-color: #a7a4a4;
}

/* -- banner -- */

#banner { 
  background-image: url("../pics/umbrellabanner.jpg");
  background-size: contain;
  background-position: center;
  display: flex;
  height: 340px;
  width: 98%;
  background-repeat: no-repeat;
  margin: 19% auto 10px auto;
}


/* -- Main Section -- */

.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 90px;

}

.main h2 {
	color: gray;
	margin: 0;
	width: 100%;
	text-align: center;
}

.main p {
	color: gray;
	padding: 0 60px;
	margin-top: 15px;
	margin-bottom: 0;
	font-size: 2rem;
	text-align: justify;
}


/* -- Products Section -- */

#products {
  display: flex;
  justify-content: center;
  gap: 3.6rem;
  flex-wrap: wrap;
  width: 100vw;
  margin-top: 90px;
  object-fit: cover;
  border-top: 2px solid gray;
  padding-top: 18px;
}

.ptitle {
	color: gray;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	height: 0;
	margin-bottom: 75px;
}

.pcard {
  background-color: gray;
  display: flex;
  width: 900px;
  height: 1100px;
  flex-wrap: wrap;
  justify-content: center;
  border: 5px groove #afaaaa;
  align-items: center;
  margin-top: 70px;
}

.pcard a {
	width: 100%;
	height: 67%;
	align-self: flex-start;
}

.pcard img {
  width: 100%;
  height: 100%;
  border-bottom: 2px solid black;
}

.pcard h3 {
  margin-bottom: 15px;
  margin-top: 20px;
}

.pcard p {
  padding: 0 20px;
  margin-top: 0;
  text-align: center;
}


/* -- Staff Section -- */

#staff {
  display: flex;
  justify-content: center;
  gap: 3.6rem;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 150px;
  object-fit: cover;
  border-top: 2px solid gray;
}

.stitle {
	color: gray;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 66px 0 10px 0;
}

.scard {
  background-color: gray;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border: 5px groove #afaaaa;
  align-items: center;
  width: 900px;
  height: 1100px;
  margin-bottom: 70px;
}

.scard img {
  width: 100%;
  height: 85%;
  border-bottom: 4px solid black;
  flex-shrink: 2;
  align-self: flex-start;
}

.scard h4 {
  margin: 0; 
  padding: 4px 0;
}

.scard P {
	font-weight: 400;
	margin: 0 0 0 20px;
}

.text-div {
	display: flex;
	align-items: center;
	margin-bottom: 34px;
}


/* -- Contact Page -- */

main h1 {
  margin-top: 400px;
  margin-bottom: 300px;
  color: #ded9d9;
  text-align: center;
}

.concontainer {
  display: flex;
  margin: 120px auto;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.concontainer img {
  width: 400px;
  height: 400px;
  margin-right: 10%;
  align-self: center;
  display: none;
}

form {
	padding: 20px;
	display: flex;
	flex-direction: column;
	background: gray;
	width: 70%;
	height: 800px;
}

label {
	font-weight: bold;
	opacity: .75;
	font-size: 3rem;
	margin-bottom: 10px;
}

input {
	width: 98%;
	height: 50px;
	background:#f8eeee;
	border: 3px solid #6e5b5b;
}

textarea {
	background:#f8eeee;
	border: 3px solid #6e5b5b;
	width: 98%;
	height: 280px;
}

#submit {
	background-color: #ded9d9;
	width: 240px;
	border: 4px ridge #99241c;
	border-radius: 7px;
	box-shadow: 2px 2px #b11919;
	height: 90px;
  font-weight: 500;
	text-shadow: 1px 1px #c02020;
	font-size: 3rem;
	color: black;
	margin: 0 auto;
}

#submit:hover {
   color: #00000075;
}

#submit:active {
	text-shadow: none;
	box-shadow: inset 2px 2px #b11919;
  background-color: #dedad9;
}


/* -- Footer Section -- */

footer {
	width: 100%;
	bottom: 0;
	text-align: center;
}

.fcontainer {
	background-color: gray;
	height: 200px;
	width: 100%;
	margin-top: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
}

footer p {
	margin-left: 10px;
}


/* --  Media Style -- */









